body {
  margin-top: 20px;
  margin-left:20px;
  margin-right: 20px;
  background-color: #21295C;
  height: 100%;
}

.Users-container{
  height: 100%;
}

.Footer {
  margin-top: 40px;
  /*position: absolute;*/
  /*margin-bottom: 0px;*/
}

h1 {
  color: #EEF4ED;
}

a, p, h2, h3, h4, h5, h6, li, form {
  color: #EDCB96;
}

li {
  text-align: left;
}

a {
  text-decoration-line: underline;
  text-decoration-style: solid;
}

h1, h2, h3, h4, h5, h6, form {
  font-family: 'Shadows Into Light', cursive;
}

a, p {
  font-family: 'Open Sans', sans-serif;
}

h4 {
  display: inline-block;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
